<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
  <meta charset="UTF-8">
  <title>Edit user</title>
</head>
<body>
Edit user with id: <p th:text="*{id}"></p>
<br/>
<br/>
<form th:method="POST" th:action="@{/editeuser}" th:object="${editedUser}">
  <input type="hidden" th:field="*{id}" id="userId"/>
  <input type="hidden" th:field="*{createdAt}" id="createdAt"/>
  <input type="hidden" th:field="*{password}" id="password"/>
  <label for="userName">Enter User name: </label>
  <input type="text" th:field="*{userName}" id="userName"/>
  <div style="color:red" th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}">User Name Error</div>
  <br/>
  <label for="passwordForValid">Enter Password: </label>
  <input type="password" th:field="*{passwordForValid}" id="passwordForValid"/>
  <div style="color:red" th:if="${#fields.hasErrors('passwordForValid')}" th:errors="*{passwordForValid}">Password Error</div>
  <br/>
  <label for="firstName">Enter first name: </label>
  <input type="text" th:field="*{firstName}" id="firstName"/>
  <div style="color:red" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">First Name Error</div>
  <br/>
  <label for="lastName">Enter last name: </label>
  <input type="text" th:field="*{lastName}" id="lastName"/>
  <div style="color:red" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">Last Name Error</div>
  <br/>
  <select name="role">
    <option th:each="userRole : ${T(by.kostopravov.usersapp.model.Role).values()}" th:value="${userRole}" th:text="${userRole}"></option>
  </select>
  <br/>
  <select name="status">
    <option th:each="userStatus : ${T(by.kostopravov.usersapp.model.Status).values()}" th:value="${userStatus}" th:text="${userStatus}"></option>
  </select>
  <br/>
  <input type="submit" value="OK"/>
</form>
<br/>
<form th:method="GET" th:action="@{/logout}">
  <input type="submit" value="Logout"/>
</form>

</body>
</html>